:root {
    box-sizing: border-box;
    --grey: rgb(244,244,244);
}

h1 {
    text-align: center;
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 1rem;
}
main {
    background-color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border-radius: .5rem;
    margin: 1rem 0;
    box-shadow: 4px 4px 6px rgb(220, 220, 220);
}